@media screen  and (min-width:992px) and (max-width:1200px)
{
    .banner .banner-image img{
        width:100%;
    }
    
}

@media screen  and (max-width:1200px){
    .join-now .feedback-box {
        width: 100%;
        height: 300px;
      }
}

@media screen and (max-width: 576px) {

    .banner .banner-image img{
        width:100%;
    }

    .features{
        text-align: center;
    }
     
    .email-subscription input[type="text"] {
        width: 50%;
      }
    
      .email-subscription input[type="submit"] {
        position: absolute;
        right: 10px;
      }
}

@media screen and (min-width: 768px) and (max-width:1200px){
     
    .email-subscription input[type="text"] {
        width: 40%;
      }
    
      .email-subscription input[type="submit"] {
        position: absolute;
        right: 10px;
      }
}

@media screen and (min-width: 320px) and (max-width:576px){
    .logos{
         padding-top: 100px;
     }
 }
 

@media screen and (min-width: 576px) and (max-width:1200px){
   .logos{
        padding-top: 100px;
    }
}
